<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>lukastruniger</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<div id="scroller"></div>
		<div id="map">
		</div>
		<div id="menuContainer" class="clearfix">
			<div class="clearfix menuContainerInner">
				<ul id="menuMain" class="menu">
					<li><a href="#current">current</a></li>
					<li><a href="#statement">statement</a></li>
					<li><a href="#bio">bio</a></li>
					<li><a href="#friends">friends</a></li>
					<li><a href="#contact">contact</a></li>
				</ul>
			</div>
			<div class="clearfix menuContainerInner">
				<ul id="menuSub" class="menu">
					<li><a href="#live">live</a></li>
					<li><a href="#scorings">scorings</a></li>
					<li><a href="#objects">objects</a></li>
					<li><a href="#music">music</a></li>
				</ul>
			</div>
		</div>
		<div id="info">
			<ul>
					<li class="dark"><a href="http://www.lukastruniger.net/">Lukas Truniger</a></li>
					<li><a href="http://www.lukastruniger.net/">music, sonic art and design</a></li>
			</ul>
		</div>
		<!-- <div id="controls">
			<button id="zoomIn">+</button>
			<button id="zoomOut">-</button>
		</div> -->
		<div id="articleContent"></div>
		<div id="specialBoxes"></div>
		<div id="templates">
			<video width="0" height="0" poster="" controls>
				<source preload="metadata" src="">
			</video>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script>window.jQuery.ui || document.write('<script src="js/vendor/jquery-ui.min.js"><\/script>')</script>

		<!-- scripts concatenated and minified via build script -->
		<script src="js/vendor/projekktor-1.2.16r178.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<!-- end scripts --> 
	</body>
</html>