/* Different backgroundcolors */
/* see https://kuler.adobe.com/ */
.backGroundColor-1 {
    background-color: #b4b4b4;
}
.backGroundColor-2 {
    background-color: #b4b4b4;
}
.backGroundColor-3 {
    background-color: #D6D6D6;
}
.backGroundColor-4 {
    background-color: #D6D6D6;
}
.backGroundColor-5 {
    background-color: #8C8C8C;
}
.backGroundColor-6 {
    background-color: #8C8C8C;
}
.backGroundColor-7 {
    background-color: #8C8C8C;
}
/* different boxshadows */
.boxShadow-1 {
    box-shadow: 18px 18px 18px 0.5px #3A3A3A;
}
.boxShadow-2 {
    box-shadow: 12px 12px 12px 0.5px #3A3A3A;
}
.boxShadow-3 {
    box-shadow: 6px 6px 6px 0.25px #3A3A3A;
}
.boxShadow-4 {
    box-shadow: 3px 3px 3px 0.25px #3A3A3A;
}
.boxShadow-5 {
    box-shadow: -6px -6px 6px 0.7px #3A3A3A;
}
.boxShadow-6 {
    box-shadow: -12px -12px 12px 0.6px #3A3A3A;
}
.boxShadow-7 {
    box-shadow: -18px -18px 18px 0.5px #3A3A3A;
}
