/* Different backgroundcolors */
.backGroundColor-1 {
    background-color: #b4b4b4;
}
.backGroundColor-2 {
    background-color: #BFBFBF;
}
.backGroundColor-3 {
    background-color: #CCCCCC;
}
.backGroundColor-4 {
    background-color: #D9D9D9;
}
.backGroundColor-5 {
    background-color: #E6E6E6;
}
.backGroundColor-6 {
    background-color: #787878;
}
.backGroundColor-7 {
    background-color: #8C8C8C;
}
/* different boxshadows */
.boxShadow-1 {
    box-shadow: 6px 6px 10px 0.5px #000;
}
.boxShadow-2 {
    box-shadow: -6px -6px 10px 0.5px #000;
}
.boxShadow-3 {
    box-shadow: 3px 3px 5px 0.25px #000;
}
.boxShadow-4 {
    box-shadow: -3px -3px 5px 0.25px #000;
}
.boxShadow-5 {
    box-shadow: 12px 12px 12px 0.7px #000;
}
.boxShadow-6 {
    box-shadow: 6px 7px 8px 1px #000;
}
.boxShadow-7 {
    box-shadow: 1px 2px 3px 0.5px #000;
}